@model UserAdminLib.ViewModels.RolesWithData<UserAdminLib.ViewModels.UserInfo[]>
@{
    ViewData["Title"] = "User search";
}

@section Scripts {
    <link rel="stylesheet" href="/useradmin/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/useradmin/css/site.css" />
    <script src="/useradmin/lib/jquery/dist/jquery.min.js"></script>
    <script src="/useradmin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<div class="row boxit">
    <div class="col-md-12">
        <form asp-action="Search" method="post">
            <label class="control-label">Search name/email:</label>
            <input type="text" name="username" class="form-control">
        </form>
    </div>
</div>
@if (Model.Data.Length > 0)
{
    <div class="row boxit">
        <div class="col-md-12">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>EMail</th>
                        <th>Lockedout</th>
                    </tr>
                </thead>
                @foreach (var u in Model.Data)
                {
                    <tr>
                        <td>@u.UserName</td>
                        <td>@u.Email</td>
                        <td>@u.LockoutEnabled</td>
                        <td>
                            <form asp-action="Details" method="post">
                                <input type="hidden" name="id" value="@u.Id" />
                                <button type="submit">Details</button>
                            </form>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}